# Core Framework & Server
Django>=6.1,<6.2
asgiref==3.12.1
gunicorn==26.1.0
whitenoise==6.7.0
python-dotenv==1.2.2
sqlparse==0.5.5
tzdata==2026.3

# Database Drivers
mysqlclient==2.2.8
psycopg[binary]==3.3.5

# SPMS REST API & Extensions
djangorestframework==3.18.1
django-filter==26.1
Pillow==12.1.1
reportlab==4.4.10
Faker==40.38.0
